.main-container{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.developers{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}